:root {
    box-sizing: border-box;
    color: white;
  }

  *, ::before, ::after {
    box-sizing: border-box;
  }

  body {
    background-image: url(https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg);
  }

  #header {
    background-color: black;
    padding: 5px;
    font-family: Cookie ,Arial, Helvetica, sans-serif, cursive;
    /*font-style: italic; */
  }

  #logo {
    float: left;
    width: 20%;
  }

  #logo img {
    width: 60px;
    margin-left: 10px;
  }

  .menu {
    float: left;
    width: 60%;
    text-align: center;
  }

  .contact-info {
    float: left;
    width: 20%;
  }

  .clearfix::after {
    content:"";
    display: block;
    clear: both;
  }

  .menu ul li {
    display: inline-block;
    padding-right: 20px;
  }

  .menu ul li a {
    color: white;
    font-size: 1.4rem;
  }

  .menu ul li a:hover {
    color: #FFD77F;
  }

  #header .contact-info .tel {
    font-size: 1.2rem;
    text-align: center;
  }

/*
  slider połówka czcionka cursive

  przycisk zamówienia, kolor czcionki i obramowania #7FD7FF
  przycisk rezerwacji, kolor cziocnki i obramowania #FFD77F, tło #936c02
  hover obu przycisków #333333

  tło pizzy w połówce slidera https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg
*/

  .slider-box {
    height: 200px;
    background-color: black;
  }

  .slider-half-item {
    width: 50%;
    float: left;
    height: 100%;
    font-family: cursive, Geneva;
  }

  .slider-half-item article {
    margin: 2rem;
  }

  .slider-half-item article .button-section {
    margin-top: 1rem;
  }

  .slider-half-item .button-section .button {
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    margin: 2px;
  }

  .order-button {
    color:#7FD7FF ;
    border: 2px solid #7FD7FF;
  }

  .book-button {
    color:#FFD77F ;
    border: 2px solid #FFD77F;
  }
  .book-button:hover, .order-button:hover {
    background-color:#333333 ;
  }

  .pizza-img {
    background-image:url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .advantages-box {
    background-color: transparent;
  }

  .advantages-one-third {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 30px 0px 30px;
    
  }

  .column-advantage {
    position: relative;
    height: 160px;
    border: 5px solid black;
    font-family: cursive;
    text-align: end;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .column-advantage p {
    height: 40px;
    text-align: end;
    margin-top: 80px;
    
  }
  
  .best-ingredients {
    background-image: url(https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg);
  }

  .original-recipe {
    background-image: url(https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg);
  }

  .fast-delivery {
    background-image: url(https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg);
  }

    
  .kitchen-menu {
    background-color: black;
  }

  .menu-one-forth {
    width: 25%;
    float: left;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .menu-one-forth img {
    width: 100%;
  }

  .page-footer {
    width: 100%;
    background-color: black;
    font-family: Cookie, cursive;
  }
 












  /*
 tło strony - deski https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg

 header, footer, czarne tło 100%, 5px padding, font:  'Cookie', cursive;
 
 header logo 20% width, margin-left, img 60px https://cdn.pixabay.com/photo/2012/04/01/16/51/pizza-23477_960_720.png
 
 header menu width 60%, lista wycentrowana, elementy liniowe  z padding od lewej, linki 1.4rem,
  linki menu hover kolor: #FFD77F, normalnie białe
*/   


 
  


/*
  najlepsze skłądniki tło https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg
  oryginalne receptury tło https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg
  szybka dostawa tło https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg
    alternatywnie https://cdn.pixabay.com/photo/2017/10/15/01/00/prague-2852349_960_720.jpg
*/
